<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IBirthday" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/WCF_Service_1000/Birthday1000Service"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBirthday"
                contract="IBirthday" name="WSHttpBinding_IBirthday">
                <identity>
                    <userPrincipalName value="JOHANSDATOR\Johan Björk" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>